---
http_interactions:
- request:
    method: get
    uri: https://apphom.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AtendeClienteService" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/">
          <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/">
          <xs:element name="VerificaSeTodosObjetosCancelados" type="tns:VerificaSeTodosObjetosCancelados"/>
          <xs:element name="VerificaSeTodosObjetosCanceladosResponse" type="tns:VerificaSeTodosObjetosCanceladosResponse"/>
          <xs:element name="atualizaPagamentoNaEntrega" type="tns:atualizaPagamentoNaEntrega"/>
          <xs:element name="atualizaPagamentoNaEntregaResponse" type="tns:atualizaPagamentoNaEntregaResponse"/>
          <xs:element name="atualizaRemessaAgrupada" type="tns:atualizaRemessaAgru[...]
- request:
    method: post
    uri: https://apphom.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:buscaCliente><idContrato>9992157880</idContrato><idCartaoPostagem>0067599079</idCartaoPostagem><usuario>sigep</usuario><senha>n5f9t8</senha></tns:buscaCliente></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '""'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PHNvYXA6RW52ZWxvcGUgeG1sbnM6c29hcD0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iPjxzb2FwOkJvZHk+PG5zMjpidXNjYUNsaWVudGVSZXNwb25zZSB4bWxuczpuczI9Imh0dHA6Ly9jbGllbnRlLmJlYW4ubWFzdGVyLnNpZ2VwLmJzYi5jb3JyZWlvcy5jb20uYnIvIj48cmV0dXJuPjx[...]
